<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <title>Home</title>
</head>
<body>
    <div class="container text-center">
        <h2>Bienvenido</h2>
        <div>
            <h3><a th:href="@{/register}">Registrarse</a></h3>
            <h3><a th:href="@{/list_users}">Ver Usuarios registrados</a></h3>
            <h3><a th:href="@{/login}">Iniciar sesion</a></h3>
        </div>
    </div>
</body>
</html>